.header-container {
    width: 100%;
    height: 70px;
    background: gray;
    display: grid;
    grid-template-columns: 100px 1fr 40px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 26px;
    width: 100px;
    background-image: url(../../assets/Calandha-Logo.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    margin-block-start: 0;
    width: calc(100% - 125px);
    float: right;
    padding-inline-start: 0;
}

.header-cart-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    color: #984351;
}

.header-cart-icon:hover {
    color: #cb697a;
    cursor: pointer;
}

@media (max-width:768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container {
        grid-template-columns: 1fr 500px 50px;
    }
    .menu-container {
        width: 100%;
        font-size: 12px;
    }
    .header-cart-icon {
        margin-left: 0;
    }
}

.mobileMenuIcon {
    color: #984351;
    cursor: pointer;
    font-size: 18px;
    z-index: 9;
}

@media (hover: hover) {
    .mobileMenuIcon:hover {
        color: #cb697a;
        background: none;
    }
}

.mobileMenuWrapper {
    height: 0;
    transition: all 0.5s ease-in-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    top: -500px;
    left: 0;
    padding: 80px 0;
    box-sizing: border-box;
}
.mobileMenuWrapper.mobileMenuActive {
    height: 100vh;
    top: 0;
    background: #fff;
    z-index: 8;
    transition: all 0.5s ease-in-out;
}
.menu-container > li {
    margin-right: 2rem;
}

.menu-container > li:hover {
    color: #984351;
    cursor: pointer;
}

.cartContainer {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.69);
    border-radius: 5px;
    transition: .5s;
    z-index: 2;
    overflow: hidden;
}

.open {
    height: 300px;
}

.close {
    height: 0;
    transition: .5s;
    box-shadow: none;
}

.cartImage {
    height: 40px;
    width: auto;
}

.cartInner {
    overflow-x: scroll;
    height: 237px;
    padding-bottom: 10px;
}

.cartInner::-webkit-scrollbar{
    width: 2px;
    height: 1px;
}
.cartInner::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 0px;
}
.cartInner::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
.cartInner::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.cartProductsList {
    display: grid;
    grid-template-columns: 50px 120px 1fr 1fr 10px;
    grid-gap: 10px;
    padding: 5px;
    align-items: center;
    font-size:12px;
    border-bottom: 1px solid gray;
}

.titles {
    grid-template-columns: 15px 47px 51px 50px;
    justify-content: center;
    grid-template-areas: ".";
    grid-gap: 50px;
}

.cartProductDetails {
    white-space: nowrap;
}

.cartTitle {
    display: block;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.removeFromCart {
    cursor: pointer;
}

.noProductsInCart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.noProductsInCartIcon {
    color: red;
    font-size: 45px;
    margin-bottom: 10px;
}

.cartLength {
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    position: relative;
    left: -5px;
    line-height: 8px;
    bottom: 9px;
    padding: 1px;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header span {
    float: left;
    color: black;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.header span.logo {
    font-size: 25px;
    font-weight: bold;
}

.header span:hover:not(.header-logo) {
    background-color: #ddd;
    color: black;
}

.header span.active {
    background-color: #984351;
    color: white;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .header span {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .header-right {
        justify-content: center;
    }
}

.gotoCartBtn {
    outline: none;
    border-radius:5px;
    border: 1px solid #984351;
    background-color: #fff;
    padding: 10px 10px;
    color: #984351;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto 2px;
}

.gotoCartBtn:hover {
    background-color: #af4e5b;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}
