.product-grid-image {
    max-height: 480px;
    max-width: 320px;
    transition: all 0.5s;
}

.product-image-wrapper {
    max-height: 480px;
    max-width: 320px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.product-image-wrapper.hovered > img {
    filter: grayscale(50%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.eyeIcon {
    margin-right: 10px;
}

.product-grid-image:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.product {
    max-height: 610px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;
    font-family: 'Inter';
    overflow: hidden;
}

.product .productgridName {
    margin: 10px 0;
    font-size: 1rem;
}

.old-price {
    text-decoration: line-through;
    margin: 0 10px;
    color: #9e9e9e;
    font-size: 12px;
}

.addToCardBtn {
    outline: none;
    border-radius:5px;
    border: 1px solid #984351;
    background-color: #fff;
    padding: 10px 10px;
    color: #984351;
    margin-top: 10px;
    width: 100%;
}

.addToCardBtn:hover {
    background-color: #af4e5b;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.sizePicker {
    margin-left: 10px;
}

@media only screen and (max-width: 1440px) {
    .product-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        margin-right: 0;
    }
    .product-grid-image {
        max-height: 350px;
        max-width: 350px;
    }
}

@media only screen and (max-width: 990px) {
    .product-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .product-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        margin-right: 0;
        padding: 0;
    }
    .product-grid-image {
        max-height: 320px;
        max-width: 320px;
    }
    .addToCardBtn {
        max-width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .product-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 320px);
        grid-column-gap: 10px;
        margin-right: 0;
        padding: 0;
    }
}

.addToCardBtnView {
    outline: none;
    border-radius:5px;
    border: 1px solid #984351;
    background-color: #fff;
    padding: 10px 10px;
    color: #984351;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    z-index: 99;
}

.addToCardBtnView.visibleButton {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.addToCardBtnView:hover {
    background-color: #af4e5b;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}