@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: Inter;
}

/*html, body, #root {
    height: 100%;
}*/

body {
    margin: 0 auto;
}

main {
    height: calc(100% - 313px);
    min-height: 618px;
}

@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: InterItalic;
    src: url("./assets/fonts/Inter/Inter-Italic.otf") format("opentype");
}
